In [1]:
print(5)

5

In [2]:
5+6

11

In [3]:
# variables
a= 12
print('the sum of', a+23)

the sum of 35

In [6]:
a= 12
b= 5353.242
c='a'
print(a+b+c)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [9]:
#user input
a= int(input("enter a number"))
b= int(input("enter a number"))
print("sum of a and b is ",a+b)

enter a number 34
enter a number 564

sum of a and b is  598

# Operators in python
1. Arithmetic operators:
operators      meaning
+              addition
-              sub
*              mul
/              division
//             floor division
%              modulus
**             power


2. Comparison operators
==             equal
!=             not equal
>              greater than
<              less than
<=             
>=

3. Assignment operators
=
+=             add and assign
-=, *=, /=, //=, **=


4. Logical operators
and           - returns true if both conditions are true
or            - returns true if any condition is true
not           - reverse result

5. Membership operators
in
not in

6. Identity operators
is
is not

7. Bitwise operators
-binary operators
AND           &
OR            |
>>            left shift
^             xor
~

In [26]:
# Enter a number from the user and check whether it is greater than 50 and divisible by 2
n=int(input("Enter a number: "))
print("The number is greater than 50 and divisible by 2", n>50 and n%2 == 0)

Enter a number:  40

The number is greater than 50 and divisible by 2 False

In [16]:
a='apple'
'p' in a

True

In [21]:
b=50
a=50
a is b

True

In [22]:
a=500
b=500
a is b

False

binary operators

4 & 5
0100
0101
0100

4 | 5
0100
0101
0101

5 >> 2
0101
0001

5 ^ 4
0101
0100
0001

~5
0101
1010
1011

In [30]:
5>> 2

1

In [28]:
4 & 5

4

In [31]:
5 ^ 4

1

In [32]:
~5

-6

# if- else statement
syntax:
if condition:
    # code
else:
    # code

In [2]:
# number is divisible by 12 and 10 both
n=int(input("Enter a number"))
if n%12==0 and n %10 ==0:
    print("Number is divisible by 12 and 10 both")
else:
    print("Number is not divisible by 12 and 10 both")

Enter a number 60

Number is divisible by 12 and 10 both

# if-elif statement
syntax:
if condition:
    # code
elif condition:
    # code
    ......
else:
    # code

In [9]:
a=int(input("enter number 1"))
b=int(input("enter number 2"))
c=int(input("enter number 3"))
if a>b and a>c:
    print(f'{a} is greater number')
elif b>a and b>c:
    print(f'{b} is greater number')
elif c>a and c>b:
    print(f'{c} is greater number')
else:
    print('All the numbers are equal')

enter number 1 7
enter number 2 8
enter number 3 6

8 is greater number

In [10]:
# enter a number from the user and check if it is divisible by 3,5 and both or none
n=int(input("Enter a number"))
if n%3==0:
    print(f'{n} is divisible by 3')
elif n%5==0:
    print(f'{n} is divisible by 5')
elif n%3==0 and n%5==0:
    print(f'{n} is divisible by both 3 and 5')
else:
    print(f'{n} is not divisible by both 3 and 5')

Enter a number 78

78 is divisible by 3

# nested if
- if statement defined inside another if statement
syntax:
if condition:
    if condition:
    <!-- code -->

In [14]:
# find whether the number is even or odd if the number is +ve.
num= int(input("Enter a number"))
if num>0:
    if num%2==0:
        print(f'{num} is even')
    else:
        print(f'{num} is odd')
else: 
    print("The number is negative")

Enter a number 45

45 is odd

In [15]:
# Enter a number from the user and check whether it is multiple of 3 
# if it is multiple of 3 then check if it is divisible by 7.
num=int(input("Enter a number"))
if num%3==0:
    if num%7==0:
        print(f'{num} is multiple of 3 and is divisible by 7')
    else:
        print(f'{num} is multiple of 3 but is not divisible by 7')
else:
    print(f'{num} is not multiple of 3')

Enter a number 21

21 is multiple of 3 and is divisible by 7

# Data- structure
1.List:
-collection of items in a single variable
-list allows duplicates values, ordered and mutable.
-[]

In [16]:
list

list

In [17]:
fruits=['apple','mango','apple',1,2]
fruits

['apple', 'mango', 'apple', 1, 2]

In [18]:
fruits[3]

1

In [20]:
# indexing
fruits[-1]

2

In [24]:
a=[2,3,5,2,3,5,6,43,2,45,5]

# range if indexes
a[2:5]

[5, 2, 3]

In [25]:
a[:3]

[2, 3, 5]

In [26]:
a[2:]

[5, 2, 3, 5, 6, 43, 2, 45, 5]

In [52]:
# create a list having 10 elements, access the 5th element using +ve and -ve index
# acess range from 4th to 7th position
a=[1,2,3,4,5,6,7,8,9,10]

In [35]:
# access 5th element using +ve index
a[4]

5

In [36]:
# access 5th element using -ve index
a[-6]

5

In [37]:
# access range from 4th to 7th position
a[3:7]

[4, 5, 6, 7]

In [53]:
a[2:4]=[2,5,3,5,2]
print(a)

[1, 2, 2, 5, 3, 5, 2, 5, 6, 7, 8, 9, 10]

# add new element in list
- append() -> add element at the end
- insert(index,value) -> add element at given index

In [54]:
a.append('end')
a

[1, 2, 2, 5, 3, 5, 2, 5, 6, 7, 8, 9, 10, 'end']

In [55]:
a.insert(5,'drish')
print(a)

[1, 2, 2, 5, 3, 'drish', 5, 2, 5, 6, 7, 8, 9, 10, 'end']

In [56]:
b=['a','b','c']
a.extend(b)
a

[1, 2, 2, 5, 3, 'drish', 5, 2, 5, 6, 7, 8, 9, 10, 'end', 'a', 'b', 'c']

In [57]:
a.pop()

'c'

In [58]:
a

[1, 2, 2, 5, 3, 'drish', 5, 2, 5, 6, 7, 8, 9, 10, 'end', 'a', 'b']

# Tuple
- immutable
- ()

In [59]:
a=(2,3,1,2)

In [60]:
a[3]

2

In [61]:
a[-1]

2

In [63]:
a[1:]

(3, 1, 2)

In [64]:
a[:1]

(2,)

In [65]:
a.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
a.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# convert tuple into list
# apply changes in list
# change list back to tuple

In [67]:
list1= list(a)
type(list1)

list

In [68]:
list1.append('apple')

In [69]:
a= tuple(list1)
a

(2, 3, 1, 2, 'apple')

In [70]:
type(a)

tuple

# SET
- unordered and unique elements
- {}

In [72]:
a={'a','ball','b',2,34,52,2}
a

{2, 34, 52, 'a', 'b', 'ball'}

In [76]:
a.add(5)
a

{2, 34, 5, 52, 'a', 'b', 'ball'}

In [78]:
a.update('c')
a

{2, 34, 5, 52, 'a', 'b', 'ball', 'c'}

In [80]:
a.pop()  #not recommended to use

2

In [81]:
del a

In [1]:
# dictionary

In [6]:
dict1={
'a':'b',
'c':'v'
}

In [7]:
dict1

{'a': 'b', 'c': 'v'}

In [8]:
dict1['a']

'b'

In [9]:
dict1['a']='drishya'

In [10]:
dict1

{'a': 'drishya', 'c': 'v'}

In [11]:
dict1.get('a')

'drishya'

In [12]:
dict1.clear()

In [13]:
dict1

{}

In [ ]:
# loop
1. for loop
    sequence, range
    syntax:
    for variables in sequence:
        # code
2. while loop
    -run until condition if true
    syntax:
        while condition:
            # code

In [20]:
a=[1,2,3,4,5,6,7,8,9]
odd=[]
even=[]
for i in a:
    # print(i)
    if i%2==0:
        print('even ', i)
        even.append(i)
    else:
        print('odd ', i)
        odd.append(i)

odd  1
even  2
odd  3
even  4
odd  5
even  6
odd  7
even  8
odd  9

In [21]:
print('odd =',odd)
print('even =',even)

odd = [1, 3, 5, 7, 9]
even = [2, 4, 6, 8]

In [23]:
# make a collection of string and seperate those are even or not
s1=['nim','pradeepti','Nimbuti','pradeep','drishh','drish','nimmmmmm']
evens1=[]
odds1=[]
for i in s1:
    if len(i)%2==0:
        print('even string ', i)
        evens1.append(i)
    else:
        print('odd string ',i)
        odds1.append(i)

odd string  nim
odd string  pradeepti
odd string  Nimbuti
odd string  pradeep
even string  drishh
odd string  drish
even string  nimmmmmm

In [27]:
# palindrome string
str1='apple'
# str1[::-1]    #reverse string
if str1[::-1]==str1:
    print("palindrome string")
else:
    print('not a palindrome')

not a palindrome

In [30]:
# palindrome number
num1= 1212121
str2=str(num1)
if str2[::-1]==str2:
    print(f'{num1} is palindrome')
else:
    print(f'{num1} is not palindrome')

1212121 is palindrome

In [34]:
# Check whether the numbers are Armstrong or not
a=[121,153,370,570]
armstrong_num=[]
notarmstrong_num=[]
for i in a:
    length=len(str(i))
    sum=0
    temp=i
    while temp>0:
        rem= temp%10
        sum=sum +rem**length;
        temp//=10
    if sum== i:
        print(f'{i} is an armstrong number')
        armstrong_num.append(i)
        
    else:
        print(f'{i} is not an armstrong number')
        notarmstrong_num.append(i)

121 is not an armstrong number
153 is an armstrong number
370 is an armstrong number
570 is not an armstrong number

In [36]:
print('Armstrong Collection', armstrong_num)
print('Non Armstrong collection', notarmstrong_num)

Armstrong Collection [153, 370]
Non Armstrong collection [121, 570]

In [37]:
for i in range(2,7,2):
    print(i)

2
4
6

In [ ]:
# range(stop)
# range(start,stop)
# range(start,stop,step)

In [38]:
# even numbers
even=[]
for i in range(1,31,1):    #range(2,31,2)
    if i %2==0:
        print(f'{i} is an even number')
        even.append(i)

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number
20 is an even number
22 is an even number
24 is an even number
26 is an even number
28 is an even number
30 is an even number

In [39]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [41]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [42]:
# break statement
a=[1,2,3,4,5,6,7,8]
for i in a:
    if i==5:
        break
    else:
        print(i)

1
2
3
4

In [43]:
# continue statement
a=[1,2,3,4,5,6,7,8]
for i in a:
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8

In [44]:
# pass
for i in a:
    pass

# function
-block of code for specific task
-not a main program
-def keyword
-it increase code readability and reuseability

In [49]:
# add two numbers
c=10 #global variable
def add():
    a=12    #local variable
    z=34
    print(a+z)

# call a function
add()
print(z)

46

NameError: name 'z' is not defined

In [55]:
def add(a,b):    #a , b -> parameters
    # print(a+b)
    return a+b

add(1,5)       #1 , 5 ->arguments
add(45,523)

568

# Function on the basis of arguments
1. positional arguments

In [61]:
def sub(roll,name):
    print('name is ',name)
    print('roll no is',roll)
print('sub is',sub('drishya',45))

name is  45
roll no is drishya
sub is None

In [74]:
# named/keyword arguments
def sub(a,b):
    return a,b
    # print(24)
    
a,b = sub(b=40,a=50)
print(a)
print(b)

50
40

In [75]:
# odd or even
a=[12,34,2,4645,675,3,56,34,46]
def even_or_odd(num):
    even=[]
    odd=[]
    for a in num:
        if a%2==0:
            even.append(a)
        else:
            odd.append(a)
    return even, odd

even, odd = even_or_odd(a)
print('even number is ',even)
print('odd number is ',odd )

even number is  [12, 34, 2, 56, 34, 46]
odd number is  [4645, 675, 3]

In [80]:
# find factorial of a number
def factorial_num(a):
    n=a
    fact=1
    while a>0:
        fact=fact*a
        a=a-1
    print(f'factorial of {n} is {fact}')

factorial_num(5)

factorial of 5 is 120

1. check the number is prime or not?
2. check in the collection whether a number are perfect number or not?
3. print fibonaccic series upto nth terms
4. check a number is +ve or not, if +ve check it is divisible by 11 or not?
5. check square of a number is prime or not?
6. in a collection check a number is perfect number or not?

In [10]:
# 1. check the number is prime or not?
def prime(num):
    temp=num-1
    count=0
    while temp>1:
        # print(temp)
        if num%temp==0:
            count+=1
        temp=temp-1
    if count==0:
        print(f'{num} is a prime number')
    else:
        print(f'{num} is not a prime number')
    print(count)

prime(2)

2 is a prime number
0

In [16]:
# 2. check in the collection whether a number are perfect number or not?
def perfect_num(num1):
    sum=0
    temp=num1-1
    while temp>0:
        if num1%temp==0:
            sum+=temp
        temp-=1
    if sum==num1:
        print(f'{num1} is a perfect number')
    else:
        print(f'{num1} is not a perfect number')

perfect_num(60)

60 is not a perfect number

In [27]:
# 3. print fibonaccic series upto nth terms
def fibonaccic(num2):
    temp=num2
    a=1
    b=2
    print(1)
    print(1)
    print(2)
    while(num2>3):
        c=a+b
        print(c)
        a=b
        b=c
        num2-=1

fibonaccic(10)

1
1
2
3
5
8
13
21
34
55

In [29]:
# 4. check a number is +ve or not, if +ve check it is divisible by 11 or not?
def positive(num3):
    if num3>0:
        if num3%11==0:
            print(f'{num3} is a +ve number and divisible by 11')
        else:
            print(f'{num3} is a +ve number but not divisible by 11')
    else:
        print(f'{num3} is a -ve number')

positive(-55)

-55 is a -ve number

In [39]:
# 5. check square of a number is prime or not?
def square(num4):
    num4= num4**2
    # print(num4)
    temp=num4-1
    count=0
    while temp>1:
        # print(temp)
        if num4%temp==0:
            count+=1
        temp=temp-1
    if count==0:
        print(f'{num4} is a prime number')
    else:
        print(f'{num4} is not a prime number')
    print(count)

square(2)

4 is not a prime number
1

In [41]:
# 6. in a collection check a number is perfect number or not?
numbers=[2,4534,75646,245,6,28,58,56]
perfect_num=[]
non_perfect_num=[]
def perfect_num_collection(numbers):
    for i in numbers:
        sum=0
        temp=i-1
        while temp>0:
            if i%temp==0:
                sum+=temp
            temp-=1
        if sum==i:
            print(f'{i} is a perfect number')
            perfect_num.append(i)
        else:
            print(f'{i} is not a perfect number')
            non_perfect_num.append(i)
    print('perfect_num',perfect_num)
    print('non_perfect_num', non_perfect_num)

perfect_num_collection(numbers)

2 is not a perfect number
4534 is not a perfect number
75646 is not a perfect number
245 is not a perfect number
6 is a perfect number
28 is a perfect number
58 is not a perfect number
56 is not a perfect number
perfect_num [6, 28]
non_perfect_num [2, 4534, 75646, 245, 58, 56]